 .social-head
{
    background-color: #da8616;
    
}
.bg-color, .dropdown-menu
{
    background-color: #000;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-align: justify !important;
}
.dropdown-item:hover{
 
    background-color: #da8616;

}
#nav-item:hover
{
    background-color: #da8616;
    transform: skewX(148deg);
}
.about_us
{
    margin-top: 50px;
  
}
.about_para
{
    margin-top: 50px;
   
}
.quick_1
{
    margin-left: -42px;
    list-style-type: none;
}
.quick_2
{
    list-style-type: none;
}
.dropdown-menu{
   width: 250px;
}
.quick
{
    list-style-type: none;
    text-align:left;
}
.social-link
{
    margin-left: -48px;
}
footer {
    background-color: #000;
    margin-top: -22px;
}
.foot_about,.foot_quick,.foot_address
{
    color: #ffffff;
}
#foot
{
    background-color:#0e0d0d;
    color: #ffffff;
    text-align: center;
}
 a 
{
    color: #ffff !important;
    text-decoration: none !important;
}
#cd-breadcrumb
{

    height: 250px;
    background-color: #212529;
}
#head-breadcrump
{
    margin-top: 30px;

}
.box-warapper:hover {
    background-color:#ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: #000 1px 1px 1px 1px;
    border-radius: 5px;
}
.box-warapper{
    background-color:#ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
  
}
.icon-box
{

    border-radius:100%;
    width: 100px;
    height: 100px;
    margin-left:89px;
  
  

}
.icon-box:hover{
    -webkit-filter: sepia(100%); 
    filter: sepia(100%);

}

#icon
{
    margin-top: 32px;
    color: #ffffff;
}
#services-wrapper
{
    background-color: rgb(245, 245, 245);
    margin-top: 60px;
}

.author-box
{
    background-color: #ededed;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius:50px;
}
.icon-text
{
    margin-top: 80px;
}
.form-card {
    background: rgb(242, 239, 245);
    padding: 20px;
    height: 390px;
}
.form-card1 {
    background: rgb(242, 239, 245);
    padding: 20px;

}
.icon-contact1
{
   
        background: black;
     
        width: 75px;
        height: 75px;
        border-radius: 100px;
        padding: 27px;
        color: #ffffff;
    }
.contact-text
{
 margin-top: 25px;
}

.icon-contact2 {
    background: black;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 21px;

}
.icon-contact3 {
    background: black;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 23px;
}
.icon-contact3:hover ,.icon-contact2:hover , .icon-contact1:hover
{
    background-color: #da8616;
}
#contact_section
{
    margin-top: 60px;
    margin-bottom: 60px;
}