.buttton
{ border-bottom-right-radius: 33.11px;
 border-top-left-radius: 33.11px;
 
}
.num_rows
{
    width: 150px;
}
#card-statecommite
{
    width: 500px;
}
.tb_search
{
   
    float:right;
}
 .social-head
{
    background-color: #da8616;
    
}
.bg-color, .dropdown-menu
{
    background-color: #000;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-align: justify !important;
}
.dropdown-item:hover{
 
    background-color: #da8616;

}
#nav-item:hover
{
    background-color: #da8616;
    transform: skewX(148deg);
}
.about_us
{
    margin-top: 50px;
  
}
.about_para
{
    margin-top: 50px;
   
}
.quick_1
{
    margin-left: -42px;
    list-style-type: none;
}
.quick_2
{
    list-style-type: none;
}
.dropdown-menu{
   width: 250px;
}
.quick
{
    list-style-type: none;
    text-align:left;
}
.social-link
{
    margin-left: -48px;
}

footer {
    background-color: #000;

}
.foot_about,.foot_quick,.foot_address
{
    color: #ffffff;
}
#foot
{
    background-color:#0e0d0d;
    color: #ffffff;
    text-align: center;
}
 a 
{
    color: #ffff !important;
    text-decoration: none !important;
}

#head-breadcrump
{
    margin-top: 30px;

}
.box-warapper:hover {
    background-color:#ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: #000 1px 1px 1px 1px;
    border-radius: 5px;
}
.box-warapper{
    background-color:#ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
  
}
textarea
{
    width: 100%;

}
#col
{
    margin-top: 20px;
}

.icon-box {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left:118px;
    background-color: black;
}
.authorimg:hover{
    -webkit-filter: sepia(100%); 
    filter: sepia(100%);

}

#icon
{
    margin-top: 32px;
    color: #ffffff;
}
#services-wrapper
{
    background-color: rgb(245, 245, 245);
    margin-top: 60px;
}

.author-box
{
    background-color: #ededed;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius:50px;
}
.icon-text
{
    margin-top: 80px;
}
.form-card {
    background: rgb(242, 239, 245);
    padding: 20px;
    height: 390px;
}
.form-card1 {
    background: rgb(242, 239, 245);
    padding: 20px;

}
.icon-contact1
{
   
        background: black;
     
        width: 75px;
        height: 75px;
        border-radius: 100px;
        padding: 27px;
        color: #ffffff;
    }
.contact-text
{
 margin-top: 25px;
}

.icon-contact2 {
    background: black;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 21px;

}
.icon-contact3 {
    background: black;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 23px;
}
.icon-contact3:hover ,.icon-contact2:hover , .icon-contact1:hover
{
    background-color: #da8616;
}
#contact_section
{
    margin-top: 60px;
    margin-bottom: 60px;
}
.author{
 width: 50%;
 margin-left: 250px;
}
.authorimg
{
    border-radius: 60%;
}
div#n2-ss-5 .n-uc-lPYDpFCNUbWo-inner {
    padding: 10px 50px 10px 10px;
    justify-content: center;
    background: linear-gradient(67deg, white, transparent);
}
div#n2-ss-5 .n-uc-rrDEk7BDdqc1-inner {
    padding: 10px 50px 10px 10px;
    justify-content: center;
    background: linear-gradient(45deg, black, transparent);
}
div#n2-ss-5 .n-uc-VU1qjFbjQtxP-inner {
    padding: 10px 10px 10px 10px;
    justify-content: center;
    background: linear-gradient(45deg, black, transparent);
}
#cd-breadcrumb {
    background: linear-gradient(45deg,black,transparent),url('../images/slider1.jpg');
    background-size: cover;
    height: 250px;
}
body {
    overflow: hidden;
  }
  
  
  /* Preloader */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
  
  #status {
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 10%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
   
    /* path to your loading animation */

    /* is width and height divided by two */
    font-size: 30px;
  }
  .justifycontentend
  {
    justify-content: flex-end;
  }
  div#n2-ss-5 .n-uc-lPYDpFCNUbWo-inner {
    padding: 10px 50px 10px 10px;
    justify-content: center;
    background: linear-gradient(67deg, #181616, transparent) !important;
}
  @media only screen
  and (min-device-width: 100px)
  and (max-device-width:320px)
{
    .table-responsive
    {
        display:inline-block!important;
        overflow-x: auto;
    }
    .author-box {
        background-color: #ededed;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 50px;
        width: 346px !important;
    }
    .author {
        width: 108% !important;
        margin-left: -46px !important;
    }
    .form-card {
        background: rgb(242, 239, 245);
        padding: 20px;
        height: 521px !important;
    }
    #status {
        width: 1200px;
        height: 200px;
        position: absolute;
        left: -60%;
        /* centers the loading animation horizontally one the screen */
        top: 50%;
        /* centers the loading animation vertically one the screen */
       
        /* path to your loading animation */
    
        /* is width and height divided by two */
        font-size:10px !important;
      }
      .justifycontentend {
        justify-content: flex-start!important;
    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  {
    .table-responsive
    {
        display:inline-block!important;
        overflow-x: auto;
    }
    .author-box {
        background-color: #ededed;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 50px;
        width: 346px !important;
    }
    .author {
        width: 108% !important;
        margin-left: -9px !important;
    }
    .form-card {
        background: rgb(242, 239, 245);
        padding: 20px;
        height: 521px !important;
    }
    .justifycontentend {
        justify-content: flex-start!important;
    }
    #status {
        width: 1200px;
        height: 200px;
        position: absolute;
        left: -60%;
        /* centers the loading animation horizontally one the screen */
        top: 50%;
        /* centers the loading animation vertically one the screen */
       
        /* path to your loading animation */
    
        /* is width and height divided by two */
        font-size:10px !important;
      }
}
  @media only screen
  and (min-device-width: 480px)
  and (max-device-width: 620px)
{
    .author-box {
        background-color: #ededed;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 50px;
        width: 346px !important;
    }
    .author {
        
        margin-left: -46px !important;
        width: 108% !important; 
    }
    .form-card {
        background: rgb(242, 239, 245);
        padding: 20px;
        height: 521px !important;
    }
    .justifycontentend {
        justify-content: flex-start!important;
    }
    #status {
        width: 1200px;
        height: 200px;
        position: absolute;
        left: -30%;
        /* centers the loading animation horizontally one the screen */
        top: 50%;
        /* centers the loading animation vertically one the screen */
       
        /* path to your loading animation */
    
        /* is width and height divided by two */
        font-size:10px !important;
      }
}
@media only screen
  and (min-device-width:620px)
  and (max-device-width:720px)
{
    .author-box {
        background-color: #ededed;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 50px;
        width: 346px !important;
    }
    .justifycontentend {
        justify-content: flex-start!important;
    }
    #status {
        width: 1200px;
        height: 200px;
        position: absolute;
        left: -30%;
        /* centers the loading animation horizontally one the screen */
        top: 50%;
        /* centers the loading animation vertically one the screen */
       
        /* path to your loading animation */
    
        /* is width and height divided by two */
        font-size:10px !important;
      }
}
@media only screen
  and (min-device-width:720px)
  and (max-device-width:1200px)
{
}
